
/* nav */

nav {
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding-bottom: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

nav a {
    color: black;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* main */

#rescu-main {
    background-image: url("assets/maria-ziegler-jJnZg7vBfMs-unsplash.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
}

#rescu-text {
    padding-top: 40px;
    padding-left: 40px;
}

/* section */

.services {
    margin: 20px;
}

/* columns */

.row {
    display: flex;
}
  
.column-2 {
    flex: 50%;
}
  
.column-3 {
    flex: 33.33%;
}

/* everything else */
/* 
header,
nav,
article,
aside,
footer {
  background: #659494;
  border-radius: 5px;
  color: white;
  font-family: arial, san-serif;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
} */
/* header:before,
nav:before,
article:before,
aside:before,
footer:before {
  content: '<';
}
header:after,
nav:after,
article:after,
aside:after,
footer:after {
  content: '>';
}
article {
  float: left;
  margin-right: 20px;
  width: 60%;
}
aside {
  float: left;
  width: calc(40% - 140px);
}
footer {
  clear: both;
} */
